# Python
.venv/
__pycache__/
*.pyc

# Environment Files
.env

# Node (frontend)
node_modules/

# Database
*.db
*.sqlite
*.sqlite3

# Build files
dist/
build/


# VS Code
.vscode/


# OS
.DS_Store
Thumbs.db
